<footer>
  
  <div class="list-creators">
    <p class="creators">
      Criadores do projeto:
    </p>

    <div class="github">
      <a class="link-github" target="_blank" href="https://github.com/slarimoreira">
        <img class="icon-github" src="/img/github-icon.svg" alt="">
        <p class="name-creator">Larissa Moreira</p>
      </a>
    </div>
  
    <div class="github">
      <a class="link-github" target="_blank" href="https://github.com/Pedro1105-sp">
        <img class="icon-github" src="/img/github-icon.svg" alt="">
        <p class="name-creator">Pedro Henrique</p>
      </a>
    </div>
  
    <div class="github">
      <a class="link-github" target="_blank" href="https://github.com/MarinaMts">
        <img class="icon-github" src="/img/github-icon.svg" alt="">
        <p class="name-creator" >Marina Lucas</p>
      </a>
    </div>
  
    <div class="github">
      <a class="link-github" target="_blank" href="#">
        <img class="icon-github" src="/img/github-icon.svg" alt="">
        <p class="name-creator">Jhonatan</p>
      </a>
    </div>
  
    <div class="github">
      <a class="link-github" target="_blank" href="http://github.com/Abnersilvanunes">
        <img class="icon-github" src="/img/github-icon.svg" alt="">
        <p class="name-creator">Abner Silva</p>
      </a>
    </div>
  </div>

</footer>