<link rel="stylesheet" href="/css/style.css">

<nav class="navbar_home">
  <div>
    <a class="logo" href="/home">
      <img class="logo_home" src="./img/logo_navbar.svg" alt="">
      <p class="name_logo">P.L.A.M</p>
    </a>
  </div>
  <!--<div>
    <a class="user-component" href="">
      <img class="icon-user" src="/img/user.svg" alt="">
      <p class="user-name" >Perfil</p>
    </a>
  </div> -->
</nav>
