<%- include ('partials/header.ejs') %>

<link rel="stylesheet" href="/css/aluno.css" />

<body>
    <%- include ('partials/navbarTop.ejs') %>
    <%- include ('partials/navbar.ejs')%>

    <div class="container">
        <div class="form">
            <div class="list_dropdown">
                <h1 class="title-form">Preencha os campos abaixo:</h1>

                <div class="selector">
                    <div id="selectField" name="selectField">
                        <p id="selectText">Selecione uma matéria...</p>
                        <div class="caret"></div>
                    </div>
                    <ul id="list" class="hide">
                        <li class="options">1° Módulo</li>
                        <li class="options">2° Módulo</li>
                        <li class="options">3° Módulo</li>
                        <li class="options">4° Módulo</li>
                    </ul>
                </div>

                <div class="selector">
                    <div id="selectField" name="selectField">
                        <p id="selectText">Selecione um módulo...</p>
                        <div class="caret"></div>
                    </div>
                    <ul id="list" class="hide">
                        <li style="color: var(--gray)" class="options">
                        Selecione a matéria...
                        </li>
                        <li class="options">Banco de dados</li>
                        <li class="options">Programação e Algoritimos</li>
                        <li class="options">Segurança da Informação</li>
                        <li class="options">Programação Web III</li>
                    </ul>    
                </div>
            </div>
            <div class="button_submit">
                <button class="submit" type="submit">Pesquisar</button>
            </div>
        </div>

        <div class="student">
            <div class="header-student">
                <div class="header-list" >
                    <input type="text" placeholder="Digite um RM ou nome....">
                    <i class='bx bx-search'></i>
                </div>
            </div>
            <div class="student-list">
            </div>
        </div>

  </div>

    <div id="modal-chamada" class="modal-container">
        <div class="modal">
            <button class="fechar">x</button>

            <section class="informations_student">
                <div class="calendar">
                    <h2>CALENDARIO</h2>
                </div>
    
                <div class="img-student">
                    <h2>IMAGEM ALUNO</h2>
                </div>

                <div class="img-student">
                    <h2>INFORMAÇÕES DO ALUNO</h2>
                </div>

                <div class="infos-classes">
                    <div class="classes">
                        Total de faltas:
                        <span>5</span>
                    </div>
                    <div class="classes">
                        Faltas permitidas:
                        <span>5</span>
                    </div>
                    <div class="classes">
                        Quantidades de aulas:
                        <span>5</span>
                    </div>
                    <div class="classes">
                        Quantidades de aulas:
                        <span>5</span>
                    </div>
                </div>

                <div class="graph">
                    <canvas class="doughnut"></canvas>
                </div>

                <div class="img-student">
                    <h2>IMAGEM ALEATORIA</h2>
                </div>

            </section>

        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="/js/aluno.js"></script>
    <%- include ('partials/footer.ejs') %>

</body>
