<%- include ('partials/header.ejs') %>

<body>
   
   <link rel="stylesheet" href="/css/login.css">
   
   <div class="container">
     <div>
       <img class="teacher-img" src="/img/login.svg" alt="">
     </div>

     <div class="form">
      <div>
        <img class="logo" src="/img/logo.svg" alt="">
      </div>
      <div class="form-login">
        <label for="number">RM:</label>
        <input class="login" id="number" type="text">

        <label for="password">Senha:</label>
        <input id="password" class="login" type="password">
        
        <a class="forgot-password" href="#"><p>Esqueci a Senha</p></a>

        <div class="button">
          <button class="submit" type="submit">Entrar</button>
        </div>
      
      </div>

     </div>
   </div>
  
 </body>