body{
  overflow-y: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  align-items: center;
}

.img{
  width: 100%;
  padding-top: 34rem;
}

.teacher-img {
  width: 100%;
  height: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 8rem;
}

.logo{
  width: 17rem;
}

.login {
  width: 400px;
  height: 60px;
  margin-bottom: 1.2rem;

  background: #FFFFFF;
  border: 1px solid #275975;
  border-radius: 10px;
}

label {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.forgot-password{
  text-align: center;
  font-size: 1.6rem;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit{
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 4rem;
  width: 18rem  ;
  height: 4.0rem;
  color: var(--white);
  background-color: var(--blue-button);
  border: none;
  border-radius: 1.2rem;
  transition: 0.2s;
}

.submit:hover{
  background-color: var(--button-hover);
}